header{
    max-width: 100%;
}

nav ul {
    display: flex;
}
nav ul .nav{
    display: flex;
}

.left{
    width: 80%;
    float: left;
}

.right{
    width: 20%;
    float: right;
}

.nav li{
    padding: 10px;
    margin: 8px;
    list-style: none;
}

li a{
    text-decoration: none;
    font-size: large;
    color: #ccc
}
